* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat';
} 

body{
    overflow: auto;
    background-color: #f8f8f8f8;
    width: 99.2vw;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    height: 100%;
    width: 100%;
}

.sidebar {
    height: 100vh;
    /* width: 260px; */
    background-color: white;
    position: fixed;
    top: 0px;
    /* box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%); */
    z-index: 3;
    transition: all 0.5s;
    box-shadow: 0 0 15px 0 rgb(34 41 47 / 5%);
    transform: translate3d(-101%,0,0);
}

.sidebar-top {
    height: 67px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0.85rem 1.1rem 0.35rem 1.64rem;
}

.sidebar-top-left {
    height: 57px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.sidebar-top-left-img {
    background: white;
    height: 25px;
    display: flex;
    align-items: center;
}

.brand-name {
    color: #7167db;
    background: white;
    margin-left: 12px;
    display: flex;
    align-items: center;
    font-size: 1.22rem;
    font-weight: 600;
    letter-spacing: 1.1px;
}

.sidebar-top-right{
    /* margin-right: 0.425rem; */
}

.sidebar-close {
    display: none;
    cursor: pointer;
    margin-right: 13px;
}

.sidebar-top-right{
    /* margin-right: 0.425rem; */
    margin-top: 6px;
}

.sidebar-bottom{
    height: 100%;
    background: white;
    overflow-y: auto;
    padding-bottom: 20px;
}

.bottom-top {
    width: 88%;
    height: 44px;
    margin: auto;
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 5px;
    cursor: pointer;
    flex-direction: column;
    color: darkgray;
    background: #f2f2f3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom-top-top-Dashboad {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #565360;
    margin-left: 9px;
    transition: 0.4s;
}

.bottom-top-top-Dashboad-name{
    margin-left: 13px;
    font-weight: 400;
    font-size: 15.4px;
}

.bottom-middle {
    /* margin-top: 10px; */
    background: white;
    font-size: 0.8rem;
    font-weight: 600;
    /* margin: auto; */
    /* padding: 28px; */
    /* margin-left: 9%; */
    width: 100%;
}

.bottom-middle-heading {
    background: white;
    color: #a6a4b0;
    margin-top: 32px;
    font-weight: 500;
    font-size: 12.4px;
    margin-left: 7px;
    letter-spacing: 0.5px;
    margin-bottom: 11.2px;
    margin-left: 30.8px;
    line-height: 18.9px;
}

.appPages{
    background: white;
    /* margin-left: 6px; */
    width: 100%;
    transition: all 0.5s;
}

.sidebar-options{
    display: flex;
    margin: 0px 15px;
    justify-content: flex-start;
    background: white;
    align-items: center;
    color: #65677a;
    cursor: pointer;
    transition: all 0.4s;
    padding: 10px 15px;
}


.sidebar-options-name{
    background: white;
    margin-left: 15px;
    font-weight: 400;
    letter-spacing: 0.14px;
    font-size: 15.4px;
}

.sidebar-bottom::-webkit-scrollbar {
    width: 0px;
    display: none;
}

.sidebar-options:hover {
    margin-left: 25px;
}

.bottom-top-top-Dashboad:hover {
    margin-left: 25px;
}


.dashboard-number {
    margin-left: 25px;
    height: 20px;
    width: 20px;
    background-color: rgba(255,159,67,.12);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff9f43!important;
    font-size: 12px;
    font-weight: bolder;
    margin-right: 2px;
}

.bottom-top-top {
    display: flex;
    align-items: center;
    position: relative;
    width: 96%;
}

.sidebar-width {
    width: 260px;
}

.main-content-width {
    width: calc(100% - 260px);
    margin-left: 260px;
}

.card {
    margin: 12px;
    border-radius: 5px;
    background: white;
    box-shadow: 0 4px 24px 0 rgb(34 41 47 / 10%);
}